.addForm {
    display: flex;
    justify-content: center;
}

.formTitle {
    text-align: center;
    font-weight: 900;
}

.listTitle {
    text-align: center;
    font-size:40px;
    font-weight: 900;
    padding-top: 50px;
    padding-bottom:70px;
}

.listParent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.listProducts {
    margin-left: 70px;
}

.productTitle {
    text-align: center;
    font-weight: 800;
}

.card-text {
    font-weight: 700;
}

.card-text-detail {
    font-weight: 400;
}

.addToCartBtn {
    font-weight: 900;
    float:right;
}

.viewBtn {
    font-weight:900;
}

.searchByUse {
    float:right;
}